# Add include/exclude patterns to this file - See the
# rsync man page

# Examples:
# # Skip .mp3 files
# - *.mp3
# # Skip ISOs, but do include ISOs starting with the name "archive"
# + archive*.iso
# - *.iso

# Do not replicate our lock file
- .citoncync.pid
